*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    margin-top: 25px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
 